// Colors
$c-lph-dark-blue: #225193;
$c-lph-soft-blue: #479cd5;
$c-lph-yellow: #ffdb00;
$c-lph-orange: rgb(253, 156, 20);
$c-white: #ffffff;
$c-lph-semantic-info: #8D9FFC;
$c-grey: #ccc;

// Typography
$f-montserrat: "Montserrat", sans-serif;
$f-roboto: "Roboto", sans-serif;

//Devices
$d-xl: 1200px;
$d-l: 992px;
$d-m: 768px;
$d-s: 576px;
$d-xs: 375px;
$d-tablet: 1024px;